.App {
  padding: 32px;
}
.reminder {
  display: flex;
  padding: 8px;
  margin: 8px;
  background-color: whitesmoke;
}
.reminder p {
  margin: 0;
  margin-right: 16px;
}

label {
  color: white
}


p,h2,h3 {
  text-align: center;
  overflow: scroll;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em
}
body {
  background-color: #1985A1
}
button {
  justify-content: center;
}
.reminder-container {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #DCDCDD;
  color: #4C5C68;
  border-color: #46494C;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}
.create-reminder-form {
  text-align: center;
}
.create-reminder-form button {
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
